Notes:
1. Some outliers in the data are possible to be actual values than being bad data. For the consideration of this exercise, any extreme value was considered a bad data. For the most part, after some research on the terms, most of the extreme values did turn out to be bad data. 
2. For most columns that were manipulated were created as new fields, with "Calc" as a prefix, to retain actual values.
3. Answers to the questions are calculated based on the new/manipulated fields wherever applicable. If a different imputation/manipulation method was used for the data in the original solution, the answer might be different. 
4. Before performing data exploration in python, the csv file was also throughly examined in excel.

In [115]:
#Importing libraries and packages

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
from datetime import datetime

In [116]:
#Importing dataset and data exploration

dataset = pd.read_csv("grc_qi_coding_exercise.csv")
print(dataset.head(10))
dataset.describe()
dataset.dtypes

      PatID  SiteName   VisitDate         DOB  AgeAtVisit Sex  A1C  SysBP  \
0  A0002143  Clinic 3  10/20/2030  02/24/1976          54   F  5.6    182
1  A0002401  Clinic 3  03/22/2030  08/23/1951          78   F  6.1    116
2  A0002401  Clinic 3  07/09/2030  08/23/1951          78   F  5.7    114
3  A0002401  Clinic 3  08/27/2030  08/23/1951          79   F  6.0    109
4  A0002497  Clinic 3  03/21/2030  09/11/1987          42   F  3.7    117
5  A0002497  Clinic 3  06/16/2030  09/11/1987          42   F  4.3    115
6  A0002497  Clinic 3  07/01/2030  09/11/1987          42   F  4.6    118
7  A0002497  Clinic 3  09/22/2030  09/11/1987          43   f  3.9    119
8  A0004044  Clinic 2  04/12/2030  08/01/1962          67   F  4.7    202
9  A0004044   Clinc 2  07/18/2030  08/01/1962          67   F  4.8    217

   DiasBP HypFollowUpSch DepScreen   PHQ DepFollowUpSch
0     155              Y         Y  10.0              Y
1      81              N         Y  15.0              Y
2      83              N         Y  15.0              Y
3      82              N         Y  13.0              Y
4      63              N         Y  10.0              N
5      62              N         Y   9.0              Y
6      62              N         Y  10.0              N
7      63              N         Y  10.0              Y
8     157              Y         N   NaN              Y
9     191              N         Y  22.0              Y

       AgeAtVisit         A1C       SysBP      DiasBP         PHQ
count  644.000000  644.000000  644.000000  644.000000  509.000000
mean    55.251553    9.364441  167.083851  123.493789   13.178782
std     17.778193   12.769955  121.117191  121.947079    7.686619
min      0.000000    3.600000   92.000000   59.000000    0.000000
25%     43.000000    5.500000  117.000000   76.000000    6.000000
50%     57.000000    6.700000  142.000000   97.500000   13.000000
75%     70.000000   10.200000  186.000000  131.000000   20.000000
max     80.000000   99.900000  999.000000  999.000000   27.000000

PatID              object
SiteName           object
VisitDate          object
DOB                object
AgeAtVisit          int64
Sex                object
A1C               float64
SysBP               int64
DiasBP              int64
HypFollowUpSch     object
DepScreen          object
PHQ               float64
DepFollowUpSch     object
dtype: object

Clearly there are some outliers in the data and it needs to be cleaned.

In [117]:
#Counting unique patients 

dataset['PatID'].nunique()

250

In [118]:
pd.unique(dataset.SiteName)

#Replacing the typo with correct site 
dataset['SiteName'] = dataset.SiteName.replace('Clinc 2', 'Clinic 2')

#Validating
pd.unique(dataset.SiteName)

array(['Clinic 3', 'Clinic 2', 'Clinc 2', 'Clinic 1', 'Clinic 4'],
      dtype=object)

array(['Clinic 3', 'Clinic 2', 'Clinic 1', 'Clinic 4'], dtype=object)

In [119]:
#Calcuating age at the time of the visit since there is some bad data
dataset['VisitDate'] = pd.to_datetime(dataset.VisitDate, format='%m/%d/%Y')
dataset['DOB'] = pd.to_datetime(dataset.DOB, format='%m/%d/%Y')

#Age calculated by (VisitDate - DOB)
dataset['CalcAgeAtVisit'] = (dataset.VisitDate - dataset.DOB).astype('<m8[Y]').astype(int)

In [120]:
#Comparing the calcuated and given age to decide the best method for data imputation
dataset.loc[~(dataset['AgeAtVisit'] == dataset['CalcAgeAtVisit'])]

,PatID,SiteName,VisitDate,DOB,AgeAtVisit,Sex,A1C,SysBP,DiasBP,HypFollowUpSch,DepScreen,PHQ,DepFollowUpSch,CalcAgeAtVisit
30,A0048412,Clinic 4,2030-04-20,1987-06-17,0,M,9.0,209,140,Y,Y,8.0,N,42
45,A0066840,Clinic 4,1999-08-16,1999-08-16,30,F,7.1,111,85,N,N,NaN,Y,0
64,A0118134,Clinic 2,2030-09-30,1982-06-29,0,m,6.6,129,76,N,N,NaN,Y,48
90,A0171928,Clinic 1,1957-04-08,1957-04-08,73,F,5.4,102,75,N,Y,6.0,N,0
98,A0178503,Clinic 2,2030-06-22,1959-09-11,0,F,5.5,196,137,Y,Y,17.0,N,70
130,A0212375,Clinic 3,2030-03-25,1994-12-04,0,F,4.9,161,130,Y,Y,17.0,Y,35
140,A0244514,Clinic 1,1995-03-03,1995-03-03,35,M,10.5,141,93,Y,Y,18.0,N,0
162,A0297173,Clinic 2,2030-07-18,1955-10-13,0,M,6.5,186,124,Y,Y,22.0,Y,74
163,A0297173,Clinic 2,2030-07-18,1955-10-13,0,M,6.5,186,124,Y,Y,22.0,Y,74
186,A0337323,Clinic 2,1997-12-05,1997-12-05,32,M,4.7,164,110,N,Y,4.0,N,0
195,A0360575,Clinic 2,2030-09-01,1982-02-13,0,M,7.9,197,131,Y,Y,21.0,N,48
228,A0403905,Clinic 2,2030-05-29,1950-04-09,0,F,6.9,110,62,N,N,NaN,N,80
233,A0425327,Clinic 1,1960-08-26,1960-08-26,70,f,8.3,114,81,N,Y,6.0,Y,0
262,A0466936,Clinic 3,2030-04-28,1993-08-05,0,M,9.2,113,88,N,Y,10.0,N,36
281,A0498374,Clinic 4,1985-02-09,1985-02-09,45,F,6.1,185,126,Y,Y,16.0,N,0
295,A0511664,Clinic 4,2030-05-13,1997-10-13,0,m,11.5,238,205,Y,Y,1.0,N,32
326,A0557015,Clinic 4,1990-11-29,1990-11-29,39,M,10.7,116,91,N,N,NaN,Y,0
327,A0557015,Clinic 4,2030-07-01,1990-11-29,0,M,10.1,114,89,N,Y,20.0,N,39
328,A0557015,Clinic 4,2030-07-01,1990-11-29,0,M,10.1,114,89,N,Y,20.0,N,39
358,A0598080,Clinic 2,2030-04-24,1960-03-08,0,F,3.8,117,86,N,Y,25.0,Y,70
374,A0610101,Clinic 3,1953-02-13,1953-02-13,77,F,11.8,168,131,Y,N,NaN,Y,0
393,A0625545,Clinic 2,2030-09-04,1975-04-28,0,M,4.7,196,128,Y,Y,17.0,Y,55
423,A0681590,Clinic 4,1961-09-09,1961-09-09,68,M,6.4,115,83,N,Y,22.0,N,0
425,A0692366,Clinic 4,2030-08-15,1956-01-17,0,F,6.1,211,179,N,N,NaN,Y,74
457,A0723931,Clinic 4,2030-09-15,1972-05-24,0,M,9.7,198,168,N,Y,7.0,N,58
467,A0743511,Clinic 4,1954-12-17,1954-12-17,75,m,6.2,183,127,N,Y,17.0,Y,0
491,A0783860,Clinic 4,2030-06-17,1985-01-30,0,F,5.0,142,117,N,Y,25.0,N,45
492,A0783860,Clinic 4,2030-06-17,1985-01-30,0,F,5.0,142,117,N,Y,25.0,N,45
517,A0797429,Clinic 3,1950-11-21,1950-11-21,79,F,11.0,176,127,Y,Y,18.0,Y,0
523,A0802813,Clinic 2,2030-05-12,1952-07-18,0,m,7.0,128,72,N,Y,6.0,Y,77
555,A0863254,Clinic 4,2030-03-08,1987-02-25,0,M,8.2,192,166,N,Y,21.0,Y,43
563,A0884805,Clinic 1,1997-12-31,1997-12-31,32,F,10.4,106,72,N,Y,0.0,N,0
588,A0923391,Clinic 2,2030-06-18,1963-06-07,0,M,9.7,103,74,N,N,NaN,Y,67
610,A0947037,Clinic 3,1990-07-02,1990-07-02,40,F,5.3,115,88,N,Y,7.0,Y,0
623,A0963306,Clinic 3,2030-08-05,1977-01-31,0,F,12.4,137,87,N,Y,7.0,Y,53

In [121]:
#Creating a final calculated field for Age to use original age that was given in the dataset if the calulated age is 0. Some of the patients have a visit date same as DOB, so it seems that visit date could be entered wrong as these patients have other visits too. 
dataset['CalcAge'] = dataset.AgeAtVisit
dataset.loc[dataset.AgeAtVisit == 0, 'CalcAge'] = dataset.CalcAgeAtVisit

#Validating imputation 
dataset.loc[~(dataset['AgeAtVisit'] == dataset['CalcAgeAtVisit'])]

,PatID,SiteName,VisitDate,DOB,AgeAtVisit,Sex,A1C,SysBP,DiasBP,HypFollowUpSch,DepScreen,PHQ,DepFollowUpSch,CalcAgeAtVisit,CalcAge
30,A0048412,Clinic 4,2030-04-20,1987-06-17,0,M,9.0,209,140,Y,Y,8.0,N,42,42
45,A0066840,Clinic 4,1999-08-16,1999-08-16,30,F,7.1,111,85,N,N,NaN,Y,0,30
64,A0118134,Clinic 2,2030-09-30,1982-06-29,0,m,6.6,129,76,N,N,NaN,Y,48,48
90,A0171928,Clinic 1,1957-04-08,1957-04-08,73,F,5.4,102,75,N,Y,6.0,N,0,73
98,A0178503,Clinic 2,2030-06-22,1959-09-11,0,F,5.5,196,137,Y,Y,17.0,N,70,70
130,A0212375,Clinic 3,2030-03-25,1994-12-04,0,F,4.9,161,130,Y,Y,17.0,Y,35,35
140,A0244514,Clinic 1,1995-03-03,1995-03-03,35,M,10.5,141,93,Y,Y,18.0,N,0,35
162,A0297173,Clinic 2,2030-07-18,1955-10-13,0,M,6.5,186,124,Y,Y,22.0,Y,74,74
163,A0297173,Clinic 2,2030-07-18,1955-10-13,0,M,6.5,186,124,Y,Y,22.0,Y,74,74
186,A0337323,Clinic 2,1997-12-05,1997-12-05,32,M,4.7,164,110,N,Y,4.0,N,0,32
195,A0360575,Clinic 2,2030-09-01,1982-02-13,0,M,7.9,197,131,Y,Y,21.0,N,48,48
228,A0403905,Clinic 2,2030-05-29,1950-04-09,0,F,6.9,110,62,N,N,NaN,N,80,80
233,A0425327,Clinic 1,1960-08-26,1960-08-26,70,f,8.3,114,81,N,Y,6.0,Y,0,70
262,A0466936,Clinic 3,2030-04-28,1993-08-05,0,M,9.2,113,88,N,Y,10.0,N,36,36
281,A0498374,Clinic 4,1985-02-09,1985-02-09,45,F,6.1,185,126,Y,Y,16.0,N,0,45
295,A0511664,Clinic 4,2030-05-13,1997-10-13,0,m,11.5,238,205,Y,Y,1.0,N,32,32
326,A0557015,Clinic 4,1990-11-29,1990-11-29,39,M,10.7,116,91,N,N,NaN,Y,0,39
327,A0557015,Clinic 4,2030-07-01,1990-11-29,0,M,10.1,114,89,N,Y,20.0,N,39,39
328,A0557015,Clinic 4,2030-07-01,1990-11-29,0,M,10.1,114,89,N,Y,20.0,N,39,39
358,A0598080,Clinic 2,2030-04-24,1960-03-08,0,F,3.8,117,86,N,Y,25.0,Y,70,70
374,A0610101,Clinic 3,1953-02-13,1953-02-13,77,F,11.8,168,131,Y,N,NaN,Y,0,77
393,A0625545,Clinic 2,2030-09-04,1975-04-28,0,M,4.7,196,128,Y,Y,17.0,Y,55,55
423,A0681590,Clinic 4,1961-09-09,1961-09-09,68,M,6.4,115,83,N,Y,22.0,N,0,68
425,A0692366,Clinic 4,2030-08-15,1956-01-17,0,F,6.1,211,179,N,N,NaN,Y,74,74
457,A0723931,Clinic 4,2030-09-15,1972-05-24,0,M,9.7,198,168,N,Y,7.0,N,58,58
467,A0743511,Clinic 4,1954-12-17,1954-12-17,75,m,6.2,183,127,N,Y,17.0,Y,0,75
491,A0783860,Clinic 4,2030-06-17,1985-01-30,0,F,5.0,142,117,N,Y,25.0,N,45,45
492,A0783860,Clinic 4,2030-06-17,1985-01-30,0,F,5.0,142,117,N,Y,25.0,N,45,45
517,A0797429,Clinic 3,1950-11-21,1950-11-21,79,F,11.0,176,127,Y,Y,18.0,Y,0,79
523,A0802813,Clinic 2,2030-05-12,1952-07-18,0,m,7.0,128,72,N,Y,6.0,Y,77,77
555,A0863254,Clinic 4,2030-03-08,1987-02-25,0,M,8.2,192,166,N,Y,21.0,Y,43,43
563,A0884805,Clinic 1,1997-12-31,1997-12-31,32,F,10.4,106,72,N,Y,0.0,N,0,32
588,A0923391,Clinic 2,2030-06-18,1963-06-07,0,M,9.7,103,74,N,N,NaN,Y,67,67
610,A0947037,Clinic 3,1990-07-02,1990-07-02,40,F,5.3,115,88,N,Y,7.0,Y,0,40
623,A0963306,Clinic 3,2030-08-05,1977-01-31,0,F,12.4,137,87,N,Y,7.0,Y,53,53

In [122]:
#Converting Sex to uppercase

pd.unique(dataset.Sex)
dataset['CalcSex'] = dataset.Sex.str.upper()
pd.unique(dataset.CalcSex)

array(['F', 'f', 'M', 'm'], dtype=object)

array(['F', 'M'], dtype=object)

In [123]:
#Replacing outliers in A1C with mode

dataset['CalcA1C'] = dataset.A1C.replace(99.9, dataset.A1C.mode()[0])
dataset[dataset.A1C == 99.9]

,PatID,SiteName,VisitDate,DOB,AgeAtVisit,Sex,A1C,SysBP,DiasBP,HypFollowUpSch,DepScreen,PHQ,DepFollowUpSch,CalcAgeAtVisit,CalcAge,CalcSex,CalcA1C
52,A0067820,Clinic 2,2030-10-02,1957-02-14,73,m,99.9,105,76,N,N,NaN,N,73,73,M,6.2
100,A0183985,Clinic 1,2030-07-20,1964-01-08,66,F,99.9,112,80,N,Y,22.0,Y,66,66,F,6.2
148,A0249945,Clinic 3,2030-10-05,1954-05-13,76,f,99.9,105,74,N,Y,24.0,Y,76,76,F,6.2
201,A0378211,Clinic 3,2030-10-15,1960-05-26,70,f,99.9,156,130,N,Y,21.0,N,70,70,F,6.2
251,A0438126,Clinic 2,2030-08-07,1974-10-07,55,F,99.9,233,202,Y,Y,5.0,N,55,55,F,6.2
301,A0515520,Clinic 2,2030-08-31,1955-01-12,75,F,99.9,105,71,N,N,NaN,N,75,75,F,6.2
350,A0576909,Clinic 1,2030-05-09,1991-11-20,38,m,99.9,113,85,N,Y,20.0,N,38,38,M,6.2
402,A0644696,Clinic 1,2030-09-30,1980-09-25,50,m,99.9,206,156,N,N,NaN,Y,50,50,M,6.2
449,A0718166,Clinic 2,2030-08-27,1972-10-26,57,F,99.9,164,107,Y,Y,15.0,N,57,57,F,6.2
501,A0790473,Clinic 3,2030-10-02,1965-05-23,65,m,99.9,210,169,N,Y,24.0,Y,65,65,M,6.2
551,A0850806,Clinic 4,2030-10-26,1977-05-14,53,M,99.9,160,105,N,Y,6.0,Y,53,53,M,6.2
601,A0938927,Clinic 1,2030-05-05,1960-02-06,70,m,99.9,185,118,Y,Y,7.0,N,70,70,M,6.2

In [124]:
#Replacing outliers in SysBP & DiasBP with mode

dataset['CalcSysBP'] = dataset.SysBP.replace(999, dataset.SysBP.mode()[0])
dataset[dataset.SysBP == 999]

dataset['CalcDiasBP'] = dataset.DiasBP.replace(999, dataset.DiasBP.mode()[0])
dataset[dataset.DiasBP == 999]

,PatID,SiteName,VisitDate,DOB,AgeAtVisit,Sex,A1C,SysBP,DiasBP,HypFollowUpSch,DepScreen,PHQ,DepFollowUpSch,CalcAgeAtVisit,CalcAge,CalcSex,CalcA1C,CalcSysBP
50,A0067820,Clinic 2,2030-07-23,1957-02-14,73,M,5.5,999,78,N,Y,1.0,N,73,73,M,5.5,117
101,A0184228,Clinic 1,2030-08-05,1967-08-05,63,F,4.8,999,123,Y,N,NaN,Y,63,63,F,4.8,117
155,A0269393,Clinic 3,2030-08-05,1950-07-10,80,M,4.3,999,109,Y,Y,0.0,N,80,80,M,4.3,117
208,A0385877,Clinic 2,2030-10-29,1954-09-14,76,M,4.9,999,78,N,Y,21.0,N,76,76,M,4.9,117
260,A0462289,Clinic 4,2030-06-07,1991-08-06,38,M,8.4,999,197,N,Y,3.0,N,38,38,M,8.4,117
312,A0535011,Clinic 1,2030-08-11,1959-10-19,70,M,4.9,999,73,N,Y,14.0,Y,70,70,M,4.9,117
361,A0601162,Clinic 1,2030-04-03,1975-09-21,54,F,6.6,999,68,N,Y,16.0,N,54,54,F,6.6,117
416,A0680770,Clinic 3,2030-04-01,1959-10-18,70,F,8.4,999,73,N,Y,22.0,Y,70,70,F,8.4,117
469,A0743511,Clinic 4,2030-04-02,1954-12-17,75,M,6.4,999,141,N,Y,16.0,Y,75,75,M,6.4,117
519,A0799035,Clinic 3,2030-05-21,1985-11-19,44,F,9.6,999,187,N,N,NaN,Y,44,44,F,9.6,117
574,A0900570,Clinic 1,2030-08-17,1977-05-03,53,F,5.2,999,71,N,Y,11.0,Y,53,53,F,5.2,117
626,A0965189,Clinic 3,2030-07-15,1958-07-08,72,F,12.0,999,186,N,Y,15.0,Y,72,72,F,12.0,117

,PatID,SiteName,VisitDate,DOB,AgeAtVisit,Sex,A1C,SysBP,DiasBP,HypFollowUpSch,DepScreen,PHQ,DepFollowUpSch,CalcAgeAtVisit,CalcAge,CalcSex,CalcA1C,CalcSysBP,CalcDiasBP
54,A0078877,Clinic 4,2030-05-27,1993-12-07,36,M,11.2,114,999,N,Y,24.0,Y,36,36,M,11.2,114,71
109,A0186500,Clinic 1,2030-04-19,1981-08-14,48,F,6.5,105,999,N,Y,2.0,N,48,48,F,6.5,105,71
166,A0298403,Clinic 2,2030-10-22,1951-08-22,79,M,7.4,203,999,Y,Y,19.0,N,79,79,M,7.4,203,71
220,A0401665,Clinic 4,2030-08-19,1958-07-28,72,F,4.8,106,999,N,N,NaN,N,72,72,F,4.8,106,71
274,A0490891,Clinic 1,2030-03-18,1980-02-04,50,M,6.3,121,999,N,Y,5.0,N,50,50,M,6.3,121,71
333,A0558045,Clinic 2,2030-06-20,1983-12-15,46,F,4.6,154,999,Y,N,NaN,Y,46,46,F,4.6,154,71
385,A0619076,Clinic 1,2030-07-04,1982-11-27,47,M,10.9,92,999,N,Y,24.0,Y,47,47,M,10.9,92,71
443,A0711006,Clinic 4,2030-06-16,1953-02-12,77,F,4.3,111,999,N,N,NaN,Y,77,77,F,4.3,111,71
498,A0789930,Clinic 1,2030-08-29,1966-11-24,63,F,5.9,136,999,N,Y,5.0,N,63,63,F,5.9,136,71
552,A0852094,Clinic 4,2030-05-05,1956-08-23,73,m,5.0,125,999,N,Y,10.0,N,73,73,M,5.0,125,71
607,A0946455,Clinic 4,2030-09-09,1967-12-21,62,F,4.7,113,999,N,Y,14.0,Y,62,62,F,4.7,113,71

In [125]:
#Mode was imputed for the patients on whom the depression screening was administered but had nulls in PHQ score
dataset.loc[(dataset.DepScreen == 'Y') & (pd.isnull(dataset.PHQ)), 'PHQ'] = dataset.PHQ.mode()[0]

#Filling other nulls with -1 since they weren't administered for depression screening
dataset.PHQ.fillna(-1, inplace=True)

#Validation
dataset.PHQ.value_counts()

-1.0     120
 18.0     39
 4.0      23
 20.0     23
 21.0     22
 7.0      22
 13.0     22
 22.0     21
 6.0      21
 14.0     21
 24.0     21
 15.0     21
 0.0      20
 17.0     20
 9.0      20
 5.0      20
 23.0     18
 10.0     18
 8.0      17
 3.0      17
 2.0      16
 12.0     16
 16.0     15
 25.0     14
 11.0     14
 19.0     14
 1.0      11
 26.0     11
 27.0      7
Name: PHQ, dtype: int64

In [126]:
#Imputing N/A for DepFollowUpSch for the patients that didn't have a PHQ score over 4 to only have Y or N for patients who were actually eligible for the follow-up
dataset['CalcDepFollowUpSch'] = dataset['DepFollowUpSch'] 
dataset.loc[(dataset.PHQ <= 4), 'CalcDepFollowUpSch'] = "N/A"

#Validation
dataset.CalcDepFollowUpSch.value_counts()

#Clean Dataset
dataset

Y      252
N/A    207
N      185
Name: CalcDepFollowUpSch, dtype: int64

,PatID,SiteName,VisitDate,DOB,AgeAtVisit,Sex,A1C,SysBP,DiasBP,HypFollowUpSch,DepScreen,PHQ,DepFollowUpSch,CalcAgeAtVisit,CalcAge,CalcSex,CalcA1C,CalcSysBP,CalcDiasBP,CalcDepFollowUpSch
0,A0002143,Clinic 3,2030-10-20,1976-02-24,54,F,5.6,182,155,Y,Y,10.0,Y,54,54,F,5.6,182,155,Y
1,A0002401,Clinic 3,2030-03-22,1951-08-23,78,F,6.1,116,81,N,Y,15.0,Y,78,78,F,6.1,116,81,Y
2,A0002401,Clinic 3,2030-07-09,1951-08-23,78,F,5.7,114,83,N,Y,15.0,Y,78,78,F,5.7,114,83,Y
3,A0002401,Clinic 3,2030-08-27,1951-08-23,79,F,6.0,109,82,N,Y,13.0,Y,79,79,F,6.0,109,82,Y
4,A0002497,Clinic 3,2030-03-21,1987-09-11,42,F,3.7,117,63,N,Y,10.0,N,42,42,F,3.7,117,63,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,A0990914,Clinic 4,2030-04-18,1978-01-30,52,M,4.9,128,89,N,N,-1.0,N,52,52,M,4.9,128,89,N/A
640,A0990914,Clinic 4,2030-08-01,1978-01-30,52,M,4.7,130,88,N,Y,1.0,N,52,52,M,4.7,130,88,N/A
641,A0993545,Clinic 1,2030-05-18,1973-02-05,57,M,13.2,123,81,N,Y,22.0,Y,57,57,M,13.2,123,81,Y
642,A0993545,Clinic 1,2030-06-30,1973-02-05,57,M,13.0,129,80,N,Y,24.0,N,57,57,M,13.0,129,80,N
643,A0993545,Clinic 1,2030-10-07,1973-02-05,57,m,12.9,125,80,N,Y,24.0,Y,57,57,M,12.9,125,80,Y

Now the data is clean, we find the answers to the questions.

Q1: How many patients visited Clinic 1 on or before April 30, 2030?

Ans: 32 unique patients (44 with duplicates)

In [127]:
#Creating a date variable for comparison
DateComp = datetime(2030, 4, 30)
dataset[(dataset.SiteName == "Clinic 1") & (dataset.VisitDate <= DateComp)].PatID.count()
dataset[(dataset.SiteName == "Clinic 1") & (dataset.VisitDate <= DateComp)].PatID.nunique()

44

32

Q2: What was the average patient age among all visits with an A1C value of greater
than or equal to 9.0?

Ans: 54 was the average age. 

Note that this calculation uses the "CalcAge" & "CalcA1C" instead of the original fields, so the solution can vary. Since original fields had bad data, this would be a more accurate representation.

In [128]:
#Calcating mean
dataset[dataset.CalcA1C >= 9].CalcAge.mean()

54.1244019138756

Q3: How many patients aged 50 or younger on the visit date had recorded blood pressures consistent with hypertension (systolic BP > 140 AND diastolic BP > 90) on at least two separate visits?

Ans: 35 patients

Note that since outliers in the SysBP and DiasBP were replaced by mode, the original values weren't used in this calculation, but the cleaned fields.

In [129]:
#Filtering for the given specs 
PatientsTemp = dataset[(dataset.CalcAge <= 50) & (dataset.CalcSysBP > 140) & (dataset.CalcDiasBP > 90)]

#Counting occurances
PatientsTemp['Count'] = PatientsTemp.groupby('PatID')['PatID'].transform('count')
PatientsTemp

#Counting unique patients
PatientsTemp[PatientsTemp.Count >=2].PatID.nunique()

C:\Users\dpetwal\AppData\Local\Temp/ipykernel_11740/3103654328.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PatientsTemp['Count'] = PatientsTemp.groupby('PatID')['PatID'].transform('count')

,PatID,SiteName,VisitDate,DOB,AgeAtVisit,Sex,A1C,SysBP,DiasBP,HypFollowUpSch,...,PHQ,DepFollowUpSch,CalcAgeAtVisit,CalcAge,CalcSex,CalcA1C,CalcSysBP,CalcDiasBP,CalcDepFollowUpSch,Count
15,A0008842,Clinic 2,2030-06-05,1989-08-30,40,M,12.5,159,122,N,...,12.0,Y,40,40,M,12.5,159,122,Y,3
16,A0008842,Clinic 2,2030-10-20,1989-08-30,41,M,12.6,160,122,N,...,14.0,Y,41,41,M,12.6,160,122,Y,3
17,A0008842,Clinic 2,2030-10-21,1989-08-30,41,M,13.0,155,121,Y,...,14.0,Y,41,41,M,13.0,155,121,Y,3
22,A0030419,Clinic 3,2030-03-16,1981-01-16,49,M,4.4,149,105,N,...,20.0,Y,49,49,M,4.4,149,105,Y,4
23,A0030419,Clinic 3,2030-06-08,1981-01-16,49,M,4.2,142,104,Y,...,21.0,N,49,49,M,4.2,142,104,N,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,A0863254,Clinic 4,2030-08-05,1987-02-25,43,M,8.6,199,174,Y,...,22.0,N,43,43,M,8.6,199,174,N,3
585,A0923223,Clinic 1,2030-04-27,1984-08-26,45,M,5.8,166,101,N,...,13.0,Y,45,45,M,5.8,166,101,Y,3
586,A0923223,Clinic 1,2030-05-02,1984-08-26,45,m,6.0,167,103,Y,...,12.0,Y,45,45,M,6.0,167,103,Y,3
587,A0923223,Clinic 1,2030-06-29,1984-08-26,45,M,5.6,163,100,Y,...,12.0,N,45,45,M,5.6,163,100,N,3
632,A0983655,Clinic 1,2030-04-03,1992-10-01,37,M,3.8,165,130,N,...,26.0,Y,37,37,M,3.8,165,130,Y,1

35

Q4: How many patients at Clinic 2 received a depression screening and had a PHQscore of 4 or lower?

Ans: 13 unique patients (24 with duplicates)

In [130]:
dataset[(dataset.SiteName == "Clinic 2") & (dataset.DepScreen == "Y") & (dataset.PHQ <= 4)].PatID.count()
dataset[(dataset.SiteName == "Clinic 2") & (dataset.DepScreen == "Y") & (dataset.PHQ <= 4)].PatID.nunique()

24

13

Q5: Among male patients with hypertension who visited Clinic 1 or Clinic 3, what was the proportion of visits at each clinic during which a follow-up visit for hypertension was scheduled?

Ans: Clinic 1 = 19/41 and Clinic 3 = 20/34

In [131]:
#Filtering for the given specs 
MaleTemp = dataset[(dataset.CalcSex == "M") & (dataset.CalcSysBP > 140) & (dataset.CalcDiasBP > 90) & ((dataset.SiteName == "Clinic 1")|(dataset.SiteName == "Clinic 3"))]

#Proportion of visits for Clinic 1
(MaleTemp[(MaleTemp.SiteName == "Clinic 1") & (MaleTemp.HypFollowUpSch == "Y")].PatID.count())
(MaleTemp[MaleTemp.SiteName == "Clinic 1"].PatID.count())

#Proportion of visits for Clinic 3
(MaleTemp[(MaleTemp.SiteName == "Clinic 3") & (MaleTemp.HypFollowUpSch == "Y")].PatID.count())
(MaleTemp[MaleTemp.SiteName == "Clinic 3"].PatID.count())

19

41

20

34

I was able to validate some of the answers to these questions by using formulas/filters in excel as a double check.